.navbar{
  border:1px solid black;
}

.navbar-brand img{
  width: 150px;
  border:1px solid black;
}

.nav-item{
  list-style: none;
}

.nav-link{
  display: inline-block;
  margin-right: 10px;
}
