.navbar{
  margin-bottom: 0;
}

.navbar-brand img{
  width: 150px;
}

.nav-item{
  list-style: none;

}

.nav-link{
  display: inline-block;
  margin-right: 10px;
}

.fa-bars{
  width: 50px;
  height: 50px;
  color: #1275FF;
}

.bg-jumbo{
  background: url("../img/jumbodigital.svg");
  background-size: cover;
  color: white;
}

.jumbo span{
  color: lightgrey;
}

.deploy{
  background: white;
  width:300px;
  height: 250px;
  margin: 20px 0;
  border-radius: 5px;
  color: #102757;
  padding: 20px 10px;
  margin-bottom: 40px;
}

.deploy span{
  color: #1275FF;
  font-size: 15px;
}

.create input{
  font-size: 14px;
  width: 100%;
  box-shadow: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 5px;
}

 .create button{
  width: 100%;
  box-shadow: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
}

.create button:nth-child(3){
 background: #579AFF;
 color: #fff;
}
 .create p{
   font-size: 10px;
   text-align: center;
   margin-top: 5px;
 }
.fa-google{

}
/* @media screen and (max-width: 767px){

  .deploy{
    background: white;
    width:100%;
    height: 250px;
    margin: 10px 0 30px;
    border-radius: 5px;
  }

  br{
    display: none;
  }
}

@media screen and (max-width: 991px){
  .deploy{
    background: white;
    width: 80%;
    height: 400px;
    margin: 10px 0 30px;
    border-radius: 5px;
  }

  .nav-barnone{
    display: none;
  }
} */
