
/* navbar */
.navbar{
  margin-bottom: 0;
}

.navbar-brand img{
  width: 150px;
}

.nav-item{
  list-style: none;

}

.nav-link{
  display: inline-block;
  margin-right: 10px;
}

.fa-bars{
  width: 50px;
  height: 50px;
  color: #1275FF;
}
/* navbar */

/* jumbotron */
.bg-jumbo{
  background: url("../img/jumbodigital.svg");
  background-size: cover;
  color: white;
}

.jumbo span{
  color: lightgrey;
}

.deploy{
  background: white;
  width:300px;
  height: 250px;
  margin: 20px 0;
  border-radius: 5px;
  color: #102757;
  padding: 20px 10px;
  margin-bottom: 40px;
}

.deploy span{
  color: #1275FF;
  font-size: 15px;
}

.create input{
  font-size: 14px;
  width: 100%;
  box-shadow: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 5px;
}

 .create button{
  width: 100%;
  box-shadow: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
}

.create button:nth-child(3){
 background: #579AFF;
 color: #fff;
}
 .create p{
   font-size: 10px;
   text-align: center;
   margin-top: 5px;
 }
.fa-google{
  font-size: 18px;
}
/*  and jumbotron */

/* start main innovative */
.bg-innovative{
  background: #F3F5F9;
}

.bl-innovative{
  color: #8791A8;
  margin-top: 40px;
}

.bl-innovative img{
  width: 150px;
  margin: 30px 20px 30px 20px;
}
/* and main innovative */

/* start deploy & scale */
.ds-title h4{
  color: #082051;
}

.ds-title p{
  font-size: 15px;
  color: #8791A8 ;
}

.ds-title{
margin-top: 40px;
}

.description ul{
  border-left: 2px solid #8791A8;
  margin-left: 15px;
  line-height: 2.5;
  margin-top: 40px;
}

.description li{
  list-style: none;
  color: #8791A8;
  font-weight: bold;
  font-size: 15px;
}

.tab-1{
margin-top: 40px;

}

.tab-2{
  margin-bottom: 50px;

}

.inside{
  font-size: 12px;
  font-weight: bold;
  color: #8791A8;
}

.inside h4{
  font-size: 16px;
  color: #082051;
}

.inside img{
  width:20px;
}
/* and deploy & scale */

/* start carousel */
.first-slide{

}

.carousel-control{
  border: 1px solid black;
}



@media screen and (min-width: 768px){

  .bl-innovative img{
    width: 100px;
    margin: 30px 10px 30px 0px;
  }

  .inside{
    font-size: 11px;
    font-weight: bold;
    color: #8791A8;

  }

  .inside h4{
    font-size: 16px;
    color: #082051;
  }

  .tab-1{
    height:  150px;
  }

  .tab-2{
    margin-bottom: 0px;
    height:  150px;
  }




}
